body {
  margin: 20px 0 20px 0;
  font-size: 13px;
  line-height: 15px;
  color: #565656;
  font-family: Tahoma, sans-serif, Helvetica;
  background: #565656;
}

li {
  list-style-type: none;
  list-style-position: outside;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

hr {
  height: 4px;
  background: #92c346;
  border: 0;
  margin: 10px 0;
}

#center {
  margin: 0 auto;
  display: block;
  width: 840px;
  background: #ffffff;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  /* For IE 8 */
  -ms-filter:
    "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid :               DXImageTransform.Microsoft.Shadow ( 
            
        Strength =     
             4, Direction =               135, Color =             
     '#000000' );
}

#header {
  margin: 0px;
  padding: 0px;
  height: 200px;
  background-image: url(./images/header.png);
  background-repeat: no-repeat;
  border-bottom: 2px solid #83b33b;
}

#main {
  position: relative;
}

#nav {
  position: ablosute;
  top: 0px;
  left: 0px;
  float: left;
  width: 160px;
  height: 120px;
  border-right: 1px solid #83b33b;
  border-bottom: 1px solid #83b33b;
  background: #f8faf9;
}

#nav ul {
  margin: 20px 20px 0px;
  padding: 0px;
}

#nav a {
  color: #92c346;
}

#nav a:hover {
  color: #bae478;
}

#nav ul li {
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
  font-family: Tahoma, sans-serif, Helvetica;
}

#content {
  margin: 0 0 0 160px;
  padding: 20px 20px 20px;
}

#content h1 {
  margin: 0 0 15px 0;
  padding: 4px 5px 2px;
  font-size: 17px;
  line-height: 22px;
  font-weight: bold;
  font-family: century gothic, Tahoma, sans-serif, Helvetica;
  color: #92c346;
  border: 1px solid #e7f3ed;
  background: #f8faf9;
}

#content h3 {
  margin: 0 0 10px 0;
  padding: 4px 0 0;
  font-size: 15px;
  line-height: 17px;
  font-weight: bold;
  font-family: century gothic, Tahoma, sans-serif, Helvetica;
  color: #92c346;
}

#content table thead td {
  font-weight: bold;
  padding: 0 10px 0 0;
}

#content table td.td_center {
  text-align: center
}

#track_detail {
  margin: 0 0 10px 0;
}

#track_detail ul {
  margin: 0;
  padding: 0;
}

#content a {
  color: #92c346;
  text-decoration: underline;
}

#content a:hover {
  color: #bae478;
}

.img_right {
  float: right;
}

#home_text {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  font-family: century gothic, Tahoma, sans-serif, Helvetica;
  color: #92c346;
}

span.text_left {
  margin: 30px 0 0 0;
  text-align: left;
  height: 80px;
  display: block;
}

span.text_right {
  margin: 30px 0 0 0;
  text-align: right;
  height: 80px;
  display: block;
}

#user_color_list {
  margin: 0 0 15px 0;
  display: block;
  height: 16px;
}

#user_color_list ul {
  margin: 0px;
  padding: 0px;
}

#user_color_list li {
  float: left;
}

.colorCube {
  margin: 2px 15px 0 3px;
  padding: 0;
  display: inline;
  float: left;
  width: 11px;
  height: 11px;
  background: #123123;
}

#mapContent {
  margin: 20px 0 10px 0;
  height: 500px;
  border: 1px solid #83b33b;
}

#footer {
  padding: 7px 0 0 20px;
  height: 20px;
  clear: both;
  font-size: 11px;
  line-height: 13px;
  color: #92c346;
  border-top: 1px solid #83b33b;
  background: #f8faf9;
}

#query {
  width: 100%
}

#query tr td,#query tr th {
  padding: 5px;
  text-align: left;
  font-size: 11px;
}

#query tr th {
  text-align: left;
  border: 1px solid black;
  background-color: beige;
}

.errormsg {
  border: 1px solid red;
  background-color: wheat;
  padding: 5px;
  color: red;
  font-size: 14px;
}

.button {
  width: 150px;
  padding: 5px;
}